<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
p {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: white;
}
html, body {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: blue;
    text-align: center;
}
header img {
    width: 200px;
    height: 200px;
    border: 12px solid yellow;
    border-radius: 50%;
    background-color: white;
    margin-top: 6px;
}
 div {
    font-family: Roboto, Arial;
    font-size: 30px;
    color: white;
    box-sizing: bold;
    padding: 12px;
}
main {
    margin: 0px;
    padding: 0px;
    background-color: orchid;
    text-align: center;
}
main img {

    width: 200px;
    height: 200p;
    border: 12px solid blue;
    cursor: pointer;
}
h2, p {
    font-family: Roboto, Arial;
    font-size: 20px;
    cursor: pointer;
}
p:hover {
    background-color: rgb(83, 78, 78);
    transition-duration: 0.12ms;
}
li:hover {
    background-color: aquamarine;
}
ol {
    list-style: left;
}
a {
    color: #f01111;
}
a:hover {
    color: green;
}
a:active {
    color: yellowgreen;
}
footer {
    background-color: rgb(123, 123, 212);
    margin: 0px;
    padding: 0px;
}
h2 {
    text-align: center;
    margin-left: 4px;
    margin-top: 6px;
}
.copyright-content {
    display: block;
}
.content {
    display: block;
    color: black; 
    margin: 0px; 
}
.do-content {
    display: inline-block;
    margin: 0px;
}
footer {
    text-align: 
    center;
    margin-top: 4px;
}
.we-content {
    display: inline-block;
    margin: 0px;
}
h1 {
    margin-bottom: 0px;
    padding: 0%;
}
button {
    background-color: red;
    color: white;
    width: 45px;
    height: 20px;

}
button:hover {
    background-color: green;
    color: black;
    cursor: pointer;
}